/* Style for the disconnected button when it's inactive */
.wallet-button:disabled {
  font-family: 'Montserrat', sans-serif;
  background-color: #D5DEEF; /* Subtle grey for inactive state */
  color: #ffffff; /* Adjust text color for inactive state as needed */
  border: none;
  padding: 11px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: auto;
  border-radius: 10px;
  position: absolute;
  top: 30px;
  right: 30px;
  }
  
/* Style for the disconnected button when it's active */
.wallet-button {
  font-family: 'Montserrat', sans-serif;
  background-color: #628ECB; /* Subtle grey for active state */
  color: rgb(255, 255, 255);
  border: none;
  padding: 11px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  top: 30px;
  right: 30px;
  transition: background-color 0.3s ease;
  
}

.wallet-button:hover {
  background-color: #395886; /* Lighter shade for hover effect */
  padding: 11px 40px;
}

.wallet-button:disabled:hover {
  background-color: #D5DEEF; /* Lighter shade for hover effect */
}