.table-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: #fff;
}

.popup-table-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 15px;
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.view-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff; /* Change the background color as desired */
  color: #000000; /* Text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
  
  /* Hover effect */
.view-button:hover {
  background-color: #aeaeae; /* Change the hover background color */
}

/* Popup styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.popup-content {
  background-color: #fff;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
  
  /* Close button styles */
.close-button {
  background-color: #ffffff;
  color: #000000;
  border: #000000;
  border-style: solid;
  padding: 13px 15px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute; /* Position it absolutely */
  top: -20px; /* Adjust as needed, negative value to move outside the container */
  right: -20px; /* Adjust as needed, negative value to move outside the container */
}
  
.close-button:hover {
  background-color: #000000;
  color: #ffffff;
  border:#000000;
  border-style: solid;
}

caption {
  margin: 20px 0;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  background-color: #eaeaea;
}

th {
  background-color: #172d48;
  color: #ffffff;
  font-weight: normal;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}
