.auth-token-button {
background-color: #F0F3FA;
font-family: 'Montserrat', sans-serif;
color: #638ECB;
border: 0.5px solid #638ECB;
padding: 11px 32px;
text-align: center;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
border-radius: 10px;
position: absolute;
top: 30px;
right: 220px;
transition: background-color 0.3s ease;
}

.auth-token-button:hover {
background-color: #395886;
color: #F0F3FA;
}