.switchView {
    background-color: #F0F3FA;
    color: #638ECB;
    border: 0px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}
    
.switchView:hover {
    background-color: #628ECB;
    color: #F0F3FA;
    border-radius: 50px;
}