.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.login-container p {
  font-family: 'Roboto', sans-serif;
  line-height: 0.1;
  color: #395886;
}
  
  /* Style for the login button */
  .login-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #638ECB;
    color: #F0F3FA;
    border: none;
    padding: 11px 75px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }
  
  .login-button:hover {
    background-color: #395886; /* Lighter shade for hover effect */
  }

  .middle-container {
    background-color: #F0F3FA; /* White background */
    border: 0.5px solid #395886;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 35px; /* Padding inside the container */
    text-align: center; /* Center text alignment */
    max-width: 900px;
    align-self:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Text Style inside the container */
  .middle-container p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    font-size: 25px; /* Text size */
    color: #395886; /* Text color */
    line-height: 1.5;
  }
  

  .middle-container button {
    font-family: 'Montserrat', sans-serif;
    background-color: #638ECB;
    color: #F0F3FA;
    border: none;
    padding: 11px 75px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }

  .middle-container button:hover {
    background-color: #395886; /* Lighter shade for hover effect */
  }